.logo {
  .outer {
    fill: var(--color-logo-outer);
  }

  .middle {
    fill: var(--color-logo-middle);
  }

  .inner {
    fill: var(--color-logo-inner);
  }

  .circles {
    fill: var(--color-logo-circle);
  }
}
