.policy {
  margin: 0 auto;

  & p,
  a {
    margin-top: 5px;
    color: var(--color-logo-text);
    text-align: left;
  }

  &_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & h1 {
      margin-bottom: 10px;
      text-decoration: underline;
    }
    a {
      text-decoration: underline;
    }
  }
}
