@import './main.scss';
@import './transition/transition.scss';

.App {
  padding: 0;
  margin: 0;
  height: 100vh;

  & * > {
    height: 100vh;
  }
}

.light {
  background-color: $color-background-light;
  color: $color-text-light;
  li,
  article {
    background-color: $color-container;
  }
}

.dark {
  background-color: $color-background-dark;
  color: $color-text-dark;
}
