* {
  box-sizing: border-box;
}
h1 {
  margin-top: 0;
}

html {
  min-height: 100vh;
  background-color: var(--color-background);
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
