.newBoard {
  .addSetlist {
    background-color: var(--color-background-addBoard);
    width: 200px;
    height: 200px;
    text-align: center;
    flex-direction: column;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 5px 5px 5px black;

    .text {
      width: 100%;
      align-items: center;
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 20px;

      .plusWrapper {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        display: flex;
        background-color: var(--color-background-button);
        justify-content: center;
        align-items: center;
      }

      span {
        margin-bottom: 18px;
        font-size: 500%;
        color: var(--color-cross);
      }
      h3 {
        display: block;
        text-align: center;
      }
    }
  }
}
