.logoWrapper {
  display: flex;
  align-items: center;
  h1 {
    margin: 0 10px;
  }
  .profile_button {
    background: 0;
  }
}
.profile_button {
  background: 0;
}

.listMeny {
  background: 0;
}
