header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

button {
  font-size: 16px;
  border: 0;
  background-color: $color-text-light;
  color: $color-text-dark;
  cursor: pointer;
}

input {
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
}
