body {
  background-color: var(--color-background);
}

ul {
  padding-inline-start: 0;
  color: var(--color-text-container);
  li {
    background-color: var(--color-background-list);
    color: var(--color-text);
    list-style-type: none;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h1 {
    @media (max-width: 800px) {
      display: none;
    }
  }
}

button {
  font-size: 20px;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
}

h1,
h2 {
  color: var(--color-headlineText);
  margin: 0;
  padding: 0;
}

input {
  font-size: 20px;
  border-radius: 4px;
}

a {
  outline: none;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}
