body {
  background-color: var(--color-background);
}

ul {
  color: var(--color-text-container);
  li {
    background-color: var(--color-background-list);
    color: var(--color-text);
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

button {
  font-size: 16px;
  border: 0;
  cursor: pointer;
}

h1 {
  color: var(--color-headlineText);
}

input {
  font-size: 16px;
}

a {
  outline: none;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}
