.modal {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .modalContainer {
    flex-direction: column;
    background-color: var(--color-modal-background);
    min-height: 400px;
    width: 800px;
    max-height: 80vh;
    box-shadow: $color-shadow;
    overflow: auto;
    padding: $regular-spacing;
    border-radius: 4px;

    @media screen and (max-width: 800px) {
      max-height: 100vh;
      height: 100%;
      width: 100%;
      padding: 10px;
    }

    .modalHeader {
      padding: $regular-spacing;
      button {
        text-align: right;
        background: none;
        margin-left: auto;
        display: block;
      }
    }
    .input_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;

      h1 {
        font-size: 40px;
        color: var(--color-text);
      }
      input {
        border: 0;
        padding: $regular-spacing;
        margin-top: $regular-spacing;
        width: 80%;
        background-color: var(--color-modal-input-background);
        color: var(--color-modal-input-text);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &::placeholder {
          color: var(--color-modal-input-text);
        }
        @media screen and (max-width: 800px) {
          width: 100%;
          margin: 0 1rem;
        }
      }
      .modal_add_btn {
        padding: $regular-spacing;
        color: var(--color-modal-button-text);
        background: var(--color-modal-button);
        width: 80%;
        margin: 0 auto;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        @media screen and (max-width: 800px) {
          width: 100%;
          margin: 0 1rem;
        }
      }
      .errorMessageModal {
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
      @keyframes shake {
        10%,
        90% {
          transform: translate3d(-1px, 0, 0);
        }

        20%,
        80% {
          transform: translate3d(2px, 0, 0);
        }

        30%,
        50%,
        70% {
          transform: translate3d(-4px, 0, 0);
        }

        40%,
        60% {
          transform: translate3d(4px, 0, 0);
        }
      }
    }
  }
}
