.modal {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .modalContainer {
    flex-direction: column;
    background-color: var(--color-modal-background);
    min-height: 400px;
    width: 800px;
    max-height: 80vh;
    box-shadow: $color-shadow;
    overflow: auto;
    padding: 20px;
    border-radius: 4px;

    @media screen and (max-width: 800px) {
      height: 100%;
      width: 100%;
      padding: 10px;
    }

    .modalHeader {
      padding: 20px;
      button {
        text-align: right;
        background: none;
        margin-left: auto;
        display: block;
      }
    }
    .input_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      h1 {
        font-size: 40px;
        color: var(--color-text);
      }
      input {
        border: 0;
        padding: 20px;
        width: 80%;
        background-color: var(--color-modal-input-background);
        color: var(--color-modal-input-text);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &::placeholder {
          color: var(--color-modal-input-text);
        }
      }
      button {
        padding: 20px;
        color: var(--color-modal-button-text);
        background: var(--color-modal-button);
        width: 80%;
        margin: 0 auto;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
