.sidebar {
  z-index: 1;
  background-color: var(--color-sidemenu-background);
  color: var(--color-sidemenu-button);
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  transition: 200ms ease-out;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40vh;
  transform: translateX(44vh);
  overflow: hidden;
  padding: 20px;
  box-shadow: -5px 0px 10px 1px $color-shadow-base;

  @media screen and (max-width: 800px) {
    width: 100%;
    min-height: 100vh;
    transform: translateX(100vh);
  }

  header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    button {
      background: 0;
      margin-left: auto;
    }
  }
  article {
    padding: 20px;
  }

  footer {
    margin-top: auto;
    text-align: center;
    padding: 20px;

    .sideMenu_goBack {
      background-color: var(--color-sidemenu-button);
    }
    .sideMenu_delete {
      background-color: var(--color-sidemenu-delete);
    }
  }
}

.active {
  overflow: auto;
  transform: translateX(0);
}
