.sidebar {
  z-index: 1;
  background-color: var(--color-sidemenu-background);
  color: var(--color-sidemenu-button);
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: 200ms ease-out;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40vh;
  transform: translateX(50vh);
  overflow: hidden;
  box-shadow: -5px 0px 10px 1px $color-shadow-base;
  & > * {
    display: flex;
    flex-direction: column;
    padding: $regular-spacing;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
    min-height: 100vh;
    transform: translateX(100vh);
  }

  header {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--color-sidemenu-button);
    margin-bottom: $regular-spacing;
    color: var(--color-sidemenu-button);

    h1 {
      color: currentColor;
      letter-spacing: 2px;
      margin: 0;
    }

    button {
      background: 0;
      margin-left: auto;
      color: inherit;
    }
  }

  article {
    flex-grow: 1;
  }

  &_section {
    margin-bottom: 2rem;

    button {
      background-color: var(--color-sidemenu-button);
      color: var(--color-headlineText);
      padding: 1rem;
      font-family: $font-headline;
      margin-top: 2px;
      margin-bottom: 2px;
    }
    input {
      padding: 1rem;
      border: 0;
    }
  }

  footer {
    text-align: center;
    button {
      width: 100%;
    }

    .sideMenu_delete {
      background: var(--color-sidemenu-delete);
      margin-top: auto;
      padding: 20px;
      color: var(--color-sidemenu-delete-text);
      //background-color: var(--color-sidemenu-button);
      font-family: $font-headline;
      .deleteText {
        margin: 0 10px;
      }
    }
  }
}

$duration: 300ms;
.active {
  overflow: auto;
  transform: translateX(0);
  transition: opacity $duration, transform $duration;
}

.alert-enter {
  opacity: 1;
  transform: translateX(55vh);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity $duration, transform $duration;
}
.alert-exit {
  opacity: 1;
  transform: translateX(55vh);
}
.alert-exit-active {
  opacity: 0;
  transform: translateX(55vh);
  transition: opacity $duration, transform $duration;
}
