.sidebar {
  z-index: 1;
  background-color: var(--color-sidemenu-background);
  color: var(--color-sidemenu-button);
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  transition: 200ms ease-out;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40vh;
  transform: translateX(44vh);
  overflow: hidden;
  padding: 20px;
  box-shadow: -5px 0px 10px 1px $color-shadow-base;

  @media screen and (max-width: 800px) {
    width: 100%;
    min-height: 100vh;
    transform: translateX(100vh);
  }

  header {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--color-sidemenu-button);
    margin-bottom: 20px;
    color: var(--color-sidemenu-button);

    h1 {
      color: currentColor;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0;
    }
    button {
      background: 0;
      margin-left: auto;
      color: inherit;
    }
  }
  article {
    flex-grow: 1;
  }

  footer {
    text-align: center;
    button {
      width: 100%;
    }

    .sideMenu_delete {
      background-color: var(--color-sidemenu-delete);
      margin-top: auto;
      padding: 20px;
      color: var(--color-headlineText);
      background-color: var(--color-sidemenu-button);
    }
  }
}

.active {
  overflow: auto;
  transform: translateX(0);
}
