.newSetlist {
  position: relative;

  .addSetlist {
    background-color: var(--color-background-addBoard);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 4px;
    justify-content: center;

    .text {
      overflow: hidden;
      .plusWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: var(--color-background-button);
        margin: 20px auto;
        position: relative;

        span {
          display: block;
          font-size: 4.5em;
          color: var(--color-cross);
          padding-top: 10px;
          padding-bottom: 20px;
          @media screen and (max-width: 800px) {
            font-size: 4em;
          }
        }
      }

      .addSetlist {
        margin: 10px auto;
        display: block;
        text-align: center;
        position: relative;
        color: var(--color-add);
        background: transparent;
        @media screen and (max-width: 800px) {
          display: none;
        }
      }
    }
  }
}
