.boardlist {
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-bottom: 3rem;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    //flex: 0 20%;
    position: relative;
    width: 100%;
    //margin: 20px;
    box-shadow: $color-shadow;
    border-radius: 4px;

    &::before {
      content: '';
      padding-bottom: 100%;
      display: block;
      position: relative;
    }

    a {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      text-overflow: ellipsis;

      &:focus {
        border: 6px solid var(--color-background-button);
        border-radius: inherit;
      }
    }
    p {
      color: currentColor;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 20px;
      vertical-align: middle;
      .account {
        vertical-align: text-bottom;
        margin-right: 5px;
        fill: currentColor;
      }
    }

    h3 {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0;
      margin: 20px;
    }
  }
  button {
    margin-left: auto;
  }
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-in;
}
