.playlist {
  list-style-type: none;

  li {
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    box-shadow: $color-shadow;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    transition: 400ms;

    .song {
      display: flex;
      flex-direction: row;
      h3 {
        margin: 20px;
      }
    }
    .edit {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        background: none;
        font-style: italic;
        svg {
          fill: currentColor;
        }
      }
    }
  }

  .showActiveSong {
    transition: 400ms;
    position: relative;
    &::before {
      content: '';
      border-radius: 4px;
      transition: inherit;
      display: block;
      height: 90%;
      left: 5px;
      top: 4px;
      position: absolute;
      outline: 5px solid var(--color-sidemenu-delete);
    }
  }
}
