.landingpage {
  height: 100vh;
  .landing_wrapper {
    height: 100%;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--color-button);
    .landing_container {
      margin: 0 auto;
      text-align: center;
    }
    h1 {
      margin-top: $regular-spacing;
      font-size: 60px;
      margin-bottom: 0;
      text-align: center;
      color: var(--color-logo-text);
    }
    h3 {
      margin-top: $regular-spacing;
      color: var(--color-button);
    }
  }

  &_info {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--color-button);
    max-width: $max-width;
    margin: 0 auto;
  }
  &_about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: $max-width;
    margin: 0 auto;
  }
  &_footer {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    padding: $regular-spacing;
    border-top: 1px solid var(--color-button);
    justify-content: center;
    align-items: center;
  }
}

.link {
  color: black;
}
