.userProfile {
  color: var(--color-sidemenu-text);

  .profileTitle {
    color: var(--color-sidemenu-text);
    margin-bottom: 0;
    text-decoration: underline;
  }
  .userName {
    color: currentColor;
  }

  .logout {
    margin-top: auto;
    padding: 20px;
    color: var(--color-headlineText);
    background-color: var(--color-sidemenu-button);
    a {
      color: currentColor;
    }
  }
  .hide {
    display: block;
    margin-left: auto;
    background: 0;
    outline: none;
  }
  .link {
    display: block;
    font-family: $font-headline;
  }
}
