.theme_switch {
  input[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 35px;
    background: var(--color-theme);
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 28px;
    height: 28px;
    background: var(--color-theme-circle);
    border-radius: 50%;
    transition: 0.3s;
  }

  input:checked + label {
    background: var(--color-theme);
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 65px;
  }
}
