.invitedCollaborators {
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  .addCollaborator {
    background: #d8b4a0;
    font-size: 14px;
    display: inline-block;
    padding: 5px;
  }
}
