.invitedCollaborators {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  color: var(--color-collaborator-list);

  .addCollaborator {
    background: #d8b4a0;
    font-size: 14px;
    display: inline-block;
    padding: 5px;
    color: var(--color-text);
  }
}
