.list {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  position: relative;

  .list_container {
    max-width: $max-width;
    margin: 20px auto;

    .title {
      display: flex;
      justify-content: space-between;
      h1 {
        text-transform: capitalize;
      }
    }
  }
}
