.logoWrapper {
  cursor: pointer;
}

.boardSettings {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  min-height: 100vh;
  transition: 500ms ease;
  top: 0;
  bottom: 0;
  width: 400px;
  right: 300px;
  transform: translateX(180%);
  overflow: hidden;

  article {
    height: 100%;

    .hideTitle {
      display: none;
    }
    input {
      font-size: 24px;
      border: none;
      margin: 0 auto;
      padding: 10px;
    }
  }
}
