.fade-enter {
  opacity: 0.01;
  transform: translate(100%, 0);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
  transform: translate(0, 0);
}

.fade-exit {
  opacity: 1;
  z-index: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
  transform: translate(100%, 0);
}
